<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>vaf</name>
            <displayName><![CDATA[Vehicle Fits]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Year/Make/Model filter]]></description>
            <author><![CDATA[Josh Ribakoff]]></author>
            <tab><![CDATA[Vehicle Fits]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>